@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 250px){
  body{
    width: 250px;
  }
}

/* a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
} */

/* @layer components{
  .currentPage{
    @apply text-red-500
  }
} */

.bg{
  background-image: url('asset/Background/home_landing_bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.currentPage:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  bottom: 20px;
  background: #fff;
  display: block;
  position: absolute;
  height: 2px;
  transition: width 0.3s ease 0s,
  left 0.3s ease 0s;
  width: 100%;
  left: 0;
}

.navHover:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 20px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navHover:hover:after {
  width: 100%;
  /* left: 0; */
}

@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}

.news-bx:hover .news-bg-effect{
  background-color: rgba(255,255,255,0.4);
  transition: .5s;
}

.about-landing-bg {
  background-image: url('./asset/AboutPage/landing.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.service-landing-bg {
    background-image: url('./asset/ServicesPage/service_landing_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.arts_culture{
  background-image: url('./asset/Services/arts_culture.png');
}

.finance_legal{
  background-image: url('./asset/Services/finance_legal.png');
}

.health_medical {
  background-image: url('./asset/Services/health_medical.png');
}

.housing_land {
  background-image: url('./asset/Services/housing_land.png');
}

.park_recreation {
  background-image: url('./asset/Services/park_recreation.png');
}

.policing_crime {
  background-image: url('./asset/Services/policing_crime.png');
}

.tourism_travel {
  background-image: url('./asset/Services/tourism_travel.png');
}

.transport_traffic {
  background-image: url('./asset/Services/transport_traffic.png');
}

.services-img-bg{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.barangay_default {
  background-image: url('./asset/Barangay/barangay_default_big.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}